[req]
default_bits = 4096
prompt = no
encrypt_key = yes
default_md = sha256
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]
emailAddress = dummy@example.com

# CN and O needs to be the same as those in the generated CSR-file
CN = system:node:$SERVICE_NAME.$SERVICE_NAMESPACE.svc
O = system:nodes

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = ${SERVICE_NAME}
DNS.2 = ${SERVICE_NAME}.${SERVICE_NAMESPACE}
DNS.3 = ${SERVICE_NAME}.${SERVICE_NAMESPACE}.svc
DNS.4 = ${SERVICE_NAME}.${SERVICE_NAMESPACE}.svc.cluster.local
DNS.5 = *.${SERVICE_NAME}-internal
IP.1 = 127.0.0.1
