[req]
default_bits = 4096
prompt = no
encrypt_key = yes
default_md = sha256
req_extensions = v3_req
distinguished_name = req_distinguished_name

[req_distinguished_name]
emailAddress = dummy@example.com

# CN and O needs to be the same as those in the generated CSR-file
CN = system:node:$SERVICE_NAME.$SERVICE_NAMESPACE.svc
O = system:nodes

[v3_req]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
$ALT_NAMES
